<!DOCTYPE html>
<html lang="en" ng-app="lightStore">
<head>
	<meta charset="UTF-8">
	<title>My Shop with Angular now!</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link href="css/foundation.min.css" rel="stylesheet" media="screen">
	<link href="css/app-screen.css" rel="stylesheet" media="screen"> 
	<link href="css/app-print.css" rel="stylesheet" media="screen">
	<script src="js/jquery.js" </script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="js/angular.min.js" type="text/javascript"></script>
	<script src="js/app.js" type="text/javascript"></script>
	
	
</head>
<body ng-controller="StoreController as store" >

	<div class="row" ng-controller="ShoppingBasketController as shoppingBasket"> 
		<div class="col-lg-12">

			<h1>{{"My Sound and Light Page"}}</h1>

			
		
			<!-- Navigation Tabs here  -->
			<section class="tab" ng-controller="TabController as tab" >	

				<ul class= "nav nav-tabs">

				  <li ng-class="{active:tab.isSet(1) }" class="tab-title"><a href ng-click="tab.setTab(1)">Sound/Audio</a></li>
				  <li ng-class="{active:tab.isSet(2) }" class="tab-title"><a href ng-click="tab.setTab(2)">Lighting Solutions</a></li>
				  <li ng-class="{active:tab.isSet(3) }" class="tab-title"><a href ng-click="tab.setTab(3)">Package Deals</a></li>
				  <li ng-class="{active:tab.isSet(4) }" class="tab-title"><a href ng-click="tab.setTab(4)">About Us</a></li>
				  <li ng-class="{active:tab.isSet(5) }" class="tab-title"><a href ng-click="tab.setTab(5)">Contact Us</a></li>
				  <li ng-class="{active:tab.isSet(6) }" class="tab-title pull-right"><a href ng-click="tab.setTab(6)">Shopping Cart {{shoppingBasket.cost | currency}}</a></li>


				</ul>

				<sound-tab ng-show="tab.isSet(1)" ></sound-tab>

				<lights-tab ng-show="tab.isSet(2)"></lights-tab>
					
				<package-tab ng-show="tab.isSet(3)" ></package-tab>

			  	<about-tab ng-show="tab.isSet(4)"></about-tab>

			  	<contact-tab ng-show="tab.isSet(5)"></contact-tab>
				
				<shopping-cart-tab ng-show="tab.isSet(6)"></shopping-cart-tab>
			    	
			</section>	

		</div>
	</div>
	
</body>
</html>