<div ng-repeat="basketItem in shoppingBasket.basket">
	<div class="row">
		<div class="col-md-6"> 
				<button class="small" ng-click="shoppingBasket.removeFromBasket(basketItem[0].name)">Remove</button>
				{{basketItem[0].name}}
		</div>
		
		<div class="col-md-2">
			<div class="col-lg-12">
      					
      					<img ng-src="{{basketItem[0].images[0]}}" />      
      		</div>
					
    	</div>
    	<div class="col-md-4">
			<!-- don't need quantity at the moment
			<bold>{{basketItem[1]}}  </bold>   -->
			<h3 class="pull right">{{basketItem[0].price | currency}}</h3>
		</div>
	</div>
</div>
<h2 class="pull-right">TOTAL = {{shoppingBasket.cost | currency}}</h2>


